* {
  font-family: "poppims", sans-serif;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 18px;
  color: rgb(211, 211, 211);
}
.number {
  border-radius: 90px;
  display: inline-block;
  width: 50%;
  height: 40%;
  color: rgb(221, 221, 221);
  background-image: linear-gradient(360deg, #4242eb, #4545b1);
}
.number span {
  display: block;
  font-size: 60px;
  color: white;
  font-weight: 700;
  margin-top: 30px;
}
h2 {
  text-align: center;
  font-size: 27px;
  color: rgb(243, 243, 243);
}
.text {
  text-align: center;
  width: 200px;
  font-size: 15px;
  color: rgb(221, 221, 221);
}
.first {
  background-color: #4242eb;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 20px;
  width: 300px;
  text-align: center;
}
.second {
  width: 300px;
  background-color: white;
  border-radius: 0px 20px 20px 0;
  box-shadow: 2px 2px 8px 1px rgb(226, 225, 225);
  padding-left: 20px;
  padding-top: 20px;
}
p {
  color: rgb(92, 92, 92);
}
.dark {
  color: rgb(65, 64, 64);
  text-align: start;
}
p {
  display: inline-block;
}

.container {
  display: grid;
  grid-template-columns: 300px 500px;
}
body {
  padding-top: 120px;
  padding-left: 300px;
}
.right {
  margin-left: 100px;
}
strong {
  color: black;
}
.red {
  color: red;
  font-weight: 700;
}
.orange {
  color: orange;
  margin-right: 6px;
  font-weight: 700;
}
.verb {
  color: aqua;
  margin-right: 18px;
  font-weight: 700;
}
.visual {
  color: navy;
  margin-right: 17px;
  font-weight: 700;
}
#ttr {
  background-color: rgb(252, 230, 230);
  display: inline-block;
  padding-right: 8px;
  border-radius: 6px;
  margin-bottom: 15px;
  vertical-align: top;
  padding-left: 8px;
  margin-top: 20px;
}
#tto {
  background-color: rgb(248, 237, 217);
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 6px;
  margin-bottom: 15px;
  vertical-align: top;
}
#ttv {
  background-color: rgb(239, 255, 255);
  display: inline-block;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 6px;
  margin-bottom: 15px;
  vertical-align: top;
}
#ttn {
  background-color: rgb(224, 224, 255);
  display: inline-block;
  padding-right: 8px;
  padding-right: 8px;
  border-radius: 6px;
  padding-left: 8px;
  vertical-align: top;
  margin-bottom: 40px;
}
button {
  width: 220px;
  margin-left: 17px;
  height: 40px;

  background-color: rgb(47, 42, 78);
  color: white;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr;
    padding-bottom: 60px;
  }
  button {
    margin-bottom: 20px;
  }
  .second {
    border-radius: 0 0 20px 20px;
  }
}
